* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #efeaea;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  background: rgba(33, 33, 33, 0.621);
  font-size: 2rem;
  width: 35vw;
  height: 80vh;
  border-radius: 2rem;
  font-weight: 400;
}

body .heigt {
  height: 35vh;
}

body .app {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .up {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .up h1 {
  font-weight: 300;
  font-family: Berlin Sans FB;
  width: 100%;
  height: 50%;
  text-transform: uppercase;
  padding-top: 2rem;
}

body .up input {
  background-color: rgba(24, 26, 29, 0.678);
  margin-top: 3rem;
  padding: 1.4rem 5rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  color: #ffffff;
  font-family: century gothic;
  margin-top: 4rem;
}

body .center {
  width: 100%;
  height: 60%;
}

body .center #cityName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  font-size: 2rem;
  padding: .4rem;
  font-weight: 600;
  padding-left: 4rem;
  padding-top: 0rem;
  width: 100%;
  height: 15%;
  font-family: Segoe UI;
  text-transform: capitalize;
}

body .center #weather {
  width: 100%;
  height: 19%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.5rem;
  padding-left: 3.8rem;
  font-family: Segoe UI;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1rem;
}

body .center .himnety_for_weather {
  font-family: Berlin Sans FB;
  padding-top: 1.2rem;
  padding-left: 3.8rem;
}

body .center .cloudy {
  font-family: Berlin Sans FB;
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3.5rem;
}

body .center #icon {
  padding: 0rem .5rem;
}

@media (max-width: 806px) {
  html {
    font-size: 55%;
  }
  body .up h1 {
    font-weight: 300;
    width: 100%;
    height: 50%;
    text-transform: uppercase;
    padding-top: 2.5rem;
    font-size: 3.5rem;
  }
  body .box {
    width: 65vw;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 52%;
  }
  body .up h1 {
    font-weight: 300;
    font-family: Berlin Sans FB;
    width: 100%;
    height: 50%;
    text-transform: uppercase;
    padding-left: 5.5rem;
    font-size: 2.8rem;
  }
}
/*# sourceMappingURL=weather.css.map */